main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light);
  padding-bottom: 0;
}

footer {
  background: var(--black);
  height: 3rem;
  margin-top: auto;
  margin-bottom: 0;
}
