
:root {
  --background: #FFFFFE;
  --black: #094067;
  --primary-color: #3DA9FC;
  --paragraph: #5F6C7B;
  --tertiary: #EF4565;
  --light: #D8EEFE;

  --heading1: 3.052rem;
  --heading2: 2.441rem;
  --heading3: 1.953rem;
  --heading4: 1.563rem;
  --heading5: 1.25rem;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #D8EEFE;
  color: var(--paragraph);

  box-sizing: border-box;

}

